

.linechart-container {
  width: 80%; /* Adaptive width for laptops */
  /* height: 60%; */
  height: 60vh;
  max-height: 60%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .linechart-container {
    width: 85%; /* Slightly wider for smaller laptops */
    height: 65%; /* Increase height */
  }
}

@media (max-width: 768px) {
  .linechart-container {
    width: 90%; /* Wider for tablets */
    height: 70%;
  }
}

@media (max-width: 480px) {
  .linechart-container {
    width: 95%; /* Wider for mobile */
    height: 75%;
  }
}


