/* components/SideNav.css */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  margin-top: 20px;
  background-color: #a5cce9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 3px 3px 10px #d5d5d5;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #585858;
  display: block;
  transition: 0.3s;
  border-radius: 25px; /* Rounded corners for all links */
}

.sidenav a:hover {
  color: #345ec8;
}

.sidenav .closebtn {
  position: absolute;
  color: rgb(38, 39, 39);
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.sidenav.open {
  width: 240px;
}

/* Highlighted active link style */
.sidenav a.active {
  background-color: rgba(29, 99, 240, 0.01); /* Transparent background */
  color: #345ec8;
  margin-left: 10px;
  text-decoration: underline;
  margin-right: 10px;
  border-radius: 20px; /* Adjust radius to give circular button-like appearance */
  padding: 5px 20px; /* Adjust padding to give more button-like appearance */
  box-shadow: inset 0 0 10px rgba(117, 117, 117, 0.2); /* Inner shadow for effect */
}
